<li>
  <% if user == current_user %>
  <div class=""><%= link_to user.known_by, user_path(user.id) %></div>
  <% else %>
  <div class=""><%= user.known_by %></div>
  <% end %>
  <div class="">
    <% @team_data[user.id].each do |v| %>
    <span class=""><%= sprintf('%d', v) %></span>
    <% end %>
  </div>
</li>
