<%= render template: 'shared/session_navigation' %>

<%= render template: 'shared/personal_links' %>

<h2>My Weigh-Ins</h2>

<% if current_user.fetch_active_team %>
<div class=""><%= link_to 'Hit the Gym', new_weigh_in_path %></div>
<% end %>

<div class="">
  <% if @weigh_ins.nil? || @weigh_ins.empty? %>
  <div class="">You haven't weighed in yet.</div>
  <% else %>
  <ul>
    <li>
      <div class=""></div>
      <div class="">Date</div>
      <div class="">Calorie Adjustment/div>
    </li>
    <%= render partial: 'weigh_in', collection: @weigh_ins %>
  </ul>
  <% end %>
</div>
