<div id="container">
  <header id="t3-home-menu">
    <%= render template: 'shared/session_navigation' %>
  </header>
  <div id="content">
    <div class="row t30-page-top">
      <div class="small-6 small-offset-1 columns">
        <h2>Edit Your Information</h2>
      </div>
      <div class="small-5 columns"></div>
    </div>
    <%= render 'form', user: current_user %>
  </div>
  <footer id="t30-footer">
  </footer>
</div>

