<li>
  <div class="message-container">
    <div class="message-sender"><%= link_to message.user.known_by, message_path(message.id) %></div>
    <div class="message-recipient"><%= message.recipient.known_by %></div>
    <div class="message-body"><%= message.content %></div>
  </div>
</li>
