<tr>
  <td width="" class="">
    <span class="list-item-link"><%= link_to 'Delete', meal_ingredient_path(ingredient.meal_id, ingredient.id), method: :delete, data: {confirm: 'Are you sure?'} %></span>
  </td>
  <td width="" class="list-item-data"><%= ingredient.item_description %></td>
  <td width="" align="right" class="list-item-data"><%= ingredient.calories %></td>
</tr>
