<%= render template: 'shared/session_navigation' %>

<%= render template: 'shared/personal_links' %>

<h2>My Meals</h2>

<% if current_user.fetch_active_team %>
<div class=""><%= link_to 'Create a Meal', new_meal_path %></div>
<% end %>

<div class="">
  <% if @meals.nil? || @meals.empty? %>
  <div class="">You haven't created any meals yet. You <emphasis>can</emphasis> eat, you know!</div>
  <% else %>
  <ul>
    <li>
      <div class=""></div>
      <div class="">Date</div>
      <div class="">Type</div>
      <div class="">Calories</div>
    </li>
    <%= render partial: 'meal', collection: @meals %>
  </ul>
  <% end %>
</div>
