<div id="container">
  <header id="t3-home-menu">
    <%= render template: 'shared/session_navigation' %>
    <%= render template: 'shared/personal_links' %>
  </header>
  <div id="content">
    <div id="t30-meals"></div>

    <div class="row t30-user-page-top">
      <div class="small-5 small-offset-2 columns">
        <div class="stats-container">
          <h2>Create a Meal</h2>
          <%= render 'form', meal: @meal, btn_text: 'Next' %>
        </div>
      </div>
      <div class="small-5 columns"></div>
    </div>
  </div>
</div>
