@font-face {
    font-family: 'merriweather';
    src: url('/fonts/merriweather-regular-webfont.eot');
    src: url('/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/merriweather-regular-webfont.woff') format('woff'),
         url('/fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('/fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regular-webfont.svg#proximanovabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-bold-webfont.svg#proximanovabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'orator';
    src: url('/fonts/OratorStd_0.eot');
    src: url('/fonts/OratorStd_0.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OratorStd_0.woff') format('woff'),
         url('/fonts/OratorStd_0.ttf') format('truetype'),
         url('/fonts/OratorStd_0.svg#OratorStd_0') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----- General Styles ---------------*/

body {
  color: #333;
  font-family: 'merriweather', Georgia, serif;
  font-size: 75% !important;
  font-weight: normal;
}

a {
  color: #f60 !important;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'merriweather', Georgia, serif !important;
  font-size: 1.734rem;
}

h2 {
  margin-top: 5px;
}

input {
  box-shadow: none !important;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: .786rem !important;
  height: 1.817rem !important;
  padding: 0.357rem !important;
}

textarea {
  box-shadow: none !important;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: .786rem !important;
  padding: 0.357rem !important;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  height: 1rem !important;
}

input[type='submit'], .t30-button a {
  background-color: #f60;
  border: 1px solid #222;
  color: #fff;
  font-family: 'proximanova', serif !important;
  font-weight: bold;
  opacity: 0.8;
  padding: 5px 20px !important;
  text-transform: uppercase;
}

label {
  font-size: .786rem !important;
}

select {
  font-size: .786rem !important;
  height: 1.817rem;
  max-width: 300px;
  padding: 5px;
  width: auto !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*----- Page Geometry ---------------*/

#container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  width: 100%;
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#t30-footer {
  margin-bottom: 20px;
}

/*----- Main Navigation Overrides ---------------*/

.top-bar {
  height: 50px;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.top-bar-section ul li > a {
  font-family: 'merriweather', Georgia, serif;
}

/*----- Sub-Navigation Overrides ---------------*/

.sub-nav {
  background-color: #fff;
  height: 30px;
  margin: 0 0 !important;
  opacity: 0.85;
  padding: 0 15px 0 55px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 3;
}

.sub-nav dt {
  text-transform: none !important;
  margin-bottom: 0px !important;
}

.sub-nav dt h2 {
  margin: 0;
  padding: 0;
}

.sub-nav dd {
  float: right;
  font-family: 'merriweather', Georgia, serif;
  font-size: 0.75rem;
  margin: 0;
  padding: 10px 5px 0 5px;
}

/*----- Home Page ---------------*/

#t30-home {
  height: 100%;
  width: 100%;
}

#t30-home-landing, #t30-loggedin-landing {
  background-image: url('/images/EatWith-Naama-in-New-York-1024x682.bw.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width:100%;
}

#t30-loggedin-landing {
  background-image: url('/images/DinnerwithFarro.jpg');
}

.t30-valign {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.centered {
  display: table-cell;
  vertical-align: middle;
}

.t30-signup-container {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  display: block;
  height: 50px;
  left: 0;
  margin: 0 auto;
  max-width: 850px;
  position: relative;
  top: 0;
  width: 90%;
  z-index: 2;
}

.t30-signup-text,.t30-loggedin-text {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.t30-loggedin-text {
  color: #fff;
}

.t30-loggedin-links {
  padding: 0 20px;
}

.t30-signup-text span, .t30-loggedin-text>span {
  background-color: transparent;
  color: #fff;
  font-size: 1.75em;
  height: 50px;
  line-height: 50px;
  margin: 5px 0;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  vertical-align: middle;
}

li.t30-current-user a {
  color: #fff !important;
}

/*----- General Content ---------------*/

.t30-page-top {
  margin-top: 50px;
  top: 0;
  width: 100%;
}

.t30-user-page-top {
  margin-top: 100px;
  top: 0;
  width: 100%;
}

#t30-user, #t30-meals, #t30-exercises, #t30-weigh-ins, #t30-messages {
  background-image: url('/images/athlete.bw.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width:100%;
}

#t30-meals {
  background-image: url('/images/BerlinTable.jpg');
}

#t30-exercises {
  background-image: url('/images/rowing_machine_txrowing.bw.jpg');
}

#t30-weigh-ins {
  background-image: url('/images/accomplishment.bw.jpg');
}

#t30-messages {
  background-image: url('/images/group-happy-women-nnw.bw.jpg');
}

/*----- Data Display ---------------*/

.show-container {
  clear: both;
  min-height: 1.375rem;
  padding: 3px 0;
}

.show-label {
  float: left;
  width: 80px;
}

.show-element, .active-team-results, .team-results, .message-body, .list-item-data {
  font-family: 'orator', Helvetica, Arial, sans-serif;
}

.team-list {
  margin: 1.25rem 0;
}

.active-team-results {
  line-height: 1.6;
  margin-top: 3px;
}

.team-results, .roster-list {
  font-size: .75rem;
}

.stats-container {
  background-color: #fff;
  border-radius: 7px;
  margin: 10px 0;
  opacity: 0.85;
  padding: 10px;
}

.message-header {
  clear: both;
}

.team-list, .roster-list, .message-recipient, .servings-header {
  border-top: 1px dotted #999;
  margin-top: 3px;
}

.servings-container {
  clear: both;
}

.servings-header {
  padding: 3px 0;
}

.message-date {
  color: #666;
  font-size: .75rem;
  margin-left: 10px;
}

.message-body {
  font-size: 0.75rem;
}

/*----- Forms ---------------*/

.field-container {
  clear: both;
  width: 100%;
}

.field-label {
  display: inline-block;
  float: left;
  margin-right: 7px;
  padding: 0.5rem 0;
  text-align: right;
  vertical-align: middle;
  width: 120px;
}

.field-element {
  float: left;
}

.t30-button {
  margin-bottom: 7px;
}

.t30-button a {
  color: #fff !important;
}

.t30-button a:hover {
  text-decoration: none;
}

.t30-left {
  float:left;
}

.t30-left input {
  border-right: none;
}

.t30-postfix input {
  padding: 5px !important;
}

#searchResultsSelect, #searchResultsSelect option {
  max-width: 300px;
  width: 300px;
}

#searchResultsSelect {
  height: 1.817rem;
  min-width: 300px;
  padding: 5px;
}

/*----- Lists ---------------*/

.table-container table tr td, .table-container table tr th {
  font-size: .75rem;
}
