<%= render template: 'shared/session_navigation' %>

<h2>My Work Outs</h2>

<% if current_user.fetch_active_team %>
<div class=""><%= link_to 'Hit the Gym' new_exercise_path %></div>
<% end %>

<div class="">
  <% if @exercises.nil? || @exercises.empty? %>
  <div class="">You haven't worked out yet!</div>
  <% else %>
  <ul>
    <li>
      <div class=""></div>
      <div class="">Date</div>
      <div class="">Calories Burned</div>
    </li>
    <%= render partial: 'exercise', collection: @exercises %>
  </ul>
  <% end %>
</div>
